.sf-menu > li {
	position:relative;
	float:left;
	font-size:18px;
	line-height:23px;
}
	.sf-menu > li > a {
		display:block;
		padding:9px 27px 13px;
		color:#524e4b;
		text-decoration:none;
		
		border-radius:0 0 0 0;
		-moz-border-radius:0 0 0 0;
		-webkit-border-radius:0 0 0 0;
	}
		.sf-menu > li.sfHover > a,.sf-menu > li > a:hover, .sf-menu > li.current > a {
	text-decoration: none;
	color: #bfa958;
	background-color: #fff;
	text-transform: uppercase;
}
/***submenu***/
.sf-menu ul {
	position: absolute;
	top: -999em;
	z-index: 999;
	width: 124%;
	display: none;
	padding: 5px ;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	background-color: #fff;
/***submenu border***/
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #524e4b;
	border-right-color: #524e4b;
	border-bottom-color: #524e4b;
	border-left-color: #524e4b;
}
.sf-menu li li{
	margin-bottom: 2px;
	position: relative;
	padding: 0 10px;
	text-transform: uppercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 26px;
}
	.sf-menu li li a{color:#524e4b; text-decoration:none;}
		.sf-menu li li > a:hover,.sf-menu li li.sfHover > a{text-decoration:none; color:#bfa958;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0px;
	top:49px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
/***subsubmenu***/
.sf-menu ul ul{
	background:#000;
	border-radius:18px;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
}
	.sf-menu ul ul a:hover{color:#ff0000;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:182px;
	top:-20px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}

/* Design for a width of 768px */
@media only screen and (max-width: 995px){
	.sf-menu > li {position:relative; float:left; 	font-size:16px; line-height:20px;}
	
	.sf-menu > li > a {padding:9px 15px 13px;}
		.sf-menu > li > a .arrow{display:inline-block; width:7px; height:4px; background:url(../images/menu-arrow.gif) center top no-repeat; margin-left:8px; vertical-align:1px;}
			.sf-menu > li.sfHover > a .arrow,.sf-menu > li > a:hover .arrow, .sf-menu > li.current > a .arrow {background-position:center -10px;}
	/***subsubmenu***/
	ul.sf-menu li li:hover ul,
	ul.sf-menu li li.sfHover ul {left:171px;}
	.sf-menu ul {width: 162%;}
}

/* Design for a width of 320 and 480px*/
@media only screen and (max-width: 767px) {
	nav{padding-bottom:10px;}
	.sf-menu > li {float:none; margin-bottom:2px;}
	.sf-menu > li > a {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; }
		.sf-menu > li:first-child > a{
	border-radius: 0 0 0 0;
	-moz-border-radius: 18px 18px 0 0;
	-webkit-border-radius: 18px 18px 0 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: none;
}
	/***submenu***/
	.sf-menu ul {position:static; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background:#ffffff;}
	.sf-menu li li > a:hover,.sf-menu li li.sfHover > a{color:#bfa958;}
		.sf-menu li li > a .arrow{display:inline-block; width:7px; height:4px; background:url(../images/menu-arrow2.gif) center top no-repeat; margin-left:8px; vertical-align:2px;}
			.sf-menu li li.sfHover > a .arrow,.sf-menu li li > a:hover .arrow, .sf-menu li li.current > a .arrow {background-position:center -10px;}
	/***subsubmenu***/
	.sf-menu ul ul{border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; padding:20px 0 10px;}
	.sf-menu ul ul li{text-transform:none;}
	.sf-menu ul {width: 90%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	}
}
}
